@model IEnumerable<Kitabim.Models.Order>

<h2>Siparişler</h2>
<table class="table">
    <thead>
        <tr>
            <th>Sipariş ID</th>
            <th>Müşteri E-postası</th>
            <th>Adres</th>
            <th>Sipariş Tarihi</th>
            <th>Toplam Tutar</th>
            <th>Durum</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderId</td>
                <td>@order.ShippingAddress</td>
                <td>@order.OrderDate</td>
                <td>@order.TotalAmount</td>
                <td>@order.Status</td>
            </tr>
        }
    </tbody>
</table>
